/* app/navigation/layout.module.css */
.layout {
    display: flex;
}

.mainContent {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidenavCollapsed+.mainContent {
    margin-left: 80px;
}