/* app/ui/css/sidenav.module.css */
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #26394e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    transition: width 0.3s ease;
}

.sidenavCollapsed {
    width: 80px;
}

.collapseButton {
    cursor: pointer;
    margin-bottom: 20px;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.navItem:hover {
    background-color: #3a4a5a;
}

.navItem span {
    margin-left: 10px;
}